/* body */
body{
    margin: 0%;
    padding: 0%;

}
*{box-sizing: border-box;}
.header--menu{
    margin-right: 10px;
    padding: 10px;
    display: flex;
    align-content: center;
}

.fa-arrow-left{
font-size: large;
color: black;
margin-top: 10px;
font-family: Robot, sans-serif;
}
.fa-heart{
    margin-top: 2rem;
    border: 3px;
    font-size: x-large;
    opacity: 1;
    position: relative;

}
.hover-icon{
    border: 3px;
    margin-top: 2rem;
    font-size: x-large;
    opacity: 0;
    margin-left: -23px;
    position: absolute;
    -webkit-background-clip: text !important;
        -moz-background-clip: text !important;
        -webkit-text-fill-color:transparent;
        background: -webkit-linear-gradient(bottom left, #9356dc,#ff79da );
        background: -moz-linear-gradient(bottom left, #9356dc, #ff79da);
        background: linear-gradient(to bottom left, #9356dc,#ff79da );

}
.fa-heart:hover {
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
    }
    
    .hover-icon:hover {
    opacity: 1;
    cursor: pointer;
    }
    
    


.Container_Localisation_Reservation_Resto{
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    background-color: #f6f6f6;
}
.logo_Localisation_Reservation_Resto{
    margin-bottom: -10px;
    margin-left: 50px;
}
.meme_hauteur{
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    position: absolute;
    z-index: -999;
}
.titre_detail_menu{
    display: flex;
    
}
.titre_detail_et_icone{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
    /* height: 7rem;
    font-size: 16px; */
}
.icone_titre_detail_card{
    font-weight: 800;
    font-size:  40px;
    border: 3px;
}
.grand_titre_detail_menu{
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    text-align: center;
}
.section_menu_titre{
    font-family: Shirkhand;
    font-size: 12px;
    font-weight: normal !important;
}
h3{
    font-weight: normal;
}
.menu_wrapper{
    padding: 0 1rem;
    position: relative;
    /* position: absolute; */
    top: 13rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 999;
    background-color: #f6f6f6;
}
.menu {
    /* border: 3px solid #f2f2f2; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -10px;
    position: relative;
    padding: 0 1rem;
    z-index: 99;
  }
/* .menu{
    border: 3px solid #f2f2f2;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -40px;
    position: relative;
    z-index: 99;
} */

.section_menu_1{
    animation: slidein 3s 0.2s;
    cursor: pointer;
    -webkit-animation: slidein 3s 0.2s;
}
.section_menu_2{
    animation: slidein 3s 0.4s;
    cursor: pointer;
    -webkit-animation: slidein 3s 0.4s;
     margin-top: 30px;
}
.section_menu_3{
    animation: slidein 3s 0.6s;
    cursor: pointer;
    -webkit-animation: slidein 3s 0.6s;
    margin-top: 30px;
}
@keyframes slidein{
    0%{
        transform: translateY(-20px);
        opacity: 0;
   }
      
       100%{
           transform: translateY(0);
           opacity: 1;
           -webkit-transform: translateY(0);
           -moz-transform: translateY(0);
           -ms-transform: translateY(0);
           -o-transform: translateY(0);
}
}

.menu_card {
 border-radius: 15px;
 background-color: #fff;
 -webkit-box-shadow: -2px 12px 28px -10px #000000; 
 display: flex; 
 box-shadow: .2rem .8rem 1rem #808080;
justify-content: space-between; 
margin-top: 1rem; 
/* height: 5rem;  */
height: 4.3rem;
overflow: hidden;
/* padding: 10px; */
} 


.menu_card_box_contenu{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    flex-direction: column;
flex-wrap: nowrap;
 width: 70%; 
align-items: center; 
padding: 1rem 0rem 0rem 1rem;
margin-left: 2px;
margin-right: 2px;
 /* padding: 1rem;  */
}
.menu_card_box_all_text{
    font-family: Roboto, sans-serif;
    font-size: 14px;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}
.menu_card_box{
display: flex; 
 width: 70%;
height: 100%; 
cursor: pointer; 
}

.menu_card_box_contenu_text{
display: block;
 font-weight:700;
overflow: hidden;
 text-overflow: ellipsis;
font-size: 25px;
}
.menu_card_box_all_text_description{
display: block;
overflow: hidden;
 text-overflow: ellipsis;
 font-family: Roboto, sans-serif;
 font-size: 12px;
 font-weight: normal !important;
 margin-top: 2px;
}
.menu_card_box_all_text_price{
    display: flex;
    width: 30%;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: Roboto, sans-serif;
}
.menu_card_box_all_text_check{
 background-color:#99E2D0; 
     width: 0%; 
     height: 100%; 
     text-align: center; 
     display: flex; 
    justify-content: center; 
    align-items: center; 
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 

}

.ligne{
    border: 1px solid #99e2d0;
    width: 25px;
    margin: 0;
    margin-top: -10px;
}
.section_btn:hover{
    
    cursor: pointer;
    }
    .section_btn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -20px;
    } 
    .btn_commande{
        display: flex;
    justify-content: center;
    position: relative;
    top: 20rem;
    margin-top: -70px;
    margin-bottom: 80px;
       
    }
    .button{
        margin-top: 30px;
        /* padding: 30px; */
        margin-bottom: 20px;
        /* width: 150px; */
        font-family: Roboto, sans-serif;
        font-size: 14px;
        color: white;
        /* margin-left: 80px; */
        border-radius: 30px;
        padding: 1px 70px 1px 70px;
        background: linear-gradient(#fdaff9, #9356dc) !important;
        box-shadow: 0.1rem 0.1rem 0.4rem rgb(0 0 0 / 10%);
    }
    .Container_Localisation_Reservation_Resto:hover
    .button{
        cursor: pointer;
    }


footer{
    top: 10rem;
    position: relative;
}
.Container_Resto_LesPlus {
    top: 10rem;
    position: relative;
    display: block;
    padding: 10px;
    border: 3px solid;
    background-color: #353535;
    
}
.logo1_Localisation_Reservation_Resto
{
    filter: invert(200%);
    -webkit-filter: invert(200%);
    padding-bottom: 5px;
    margin: 20px;
}

.icone_Partenariat_Reservation_Resto{
    margin-right: 15px;
    color: white;
}
.Partenariat_Reservations_Resto{
    display: flex;
    align-items: baseline;
    margin-bottom: -20px;
}
.icone_Propositions_Reservation_Resto{
    margin-right: 15px;
    color: white;
}
.Propositions_Reservations_Resto{
    display: inline-flex;
    align-items: baseline;
    margin-bottom: -20px;
}

.footer_texte_Propositions_Reservations_Resto{
    font-family: shikhand, sans-serif;
    font-size: 18px;
    color: white;
}
.footer_texte_Propositions_Reservations_Resto_Contact a{
    text-decoration: none;
    font-family: shikhand, sans-serif;
    font-size: 18px;
    color: white;
}


.menu_card:hover .menu_card_box_all_text_check{
    animation: movein 2s;
    animation-fill-mode: forwards;
    -webkit-animation: movein 2s;
}
  .menu_card:hover .menu_card_box_all_text_check > .fas{
   animation: rotating 2s;
   animation-fill-mode: forwards;

}

.menu_card_box_all_text_check > .fas{
    opacity: 0;
    transform:rotate(0deg);
    color: #fff;
    font-size: 15px;
    transition:opacity 0.2s ease-in-out,tranform 0.4s ease-in-out    ;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
}

@keyframes rotating{
    from{
        transform: rotate(-180deg);
} 
    to{
        transform: rotate(360deg);
        opacity: 1;
}
}

/* /* .menu_card:hover > .menu_card_box_all_text_check> .rotating {
    animation: rotating 2s;
    -webkit-animation: rotating 2s;
} */


 @keyframes movein{
    0%{
    
}
    100%{
      width: 25%;
      
}
} 

/**Media queries**/
@media screen and (min-width:750px) and (max-width: 1023px)
{
   
  .menu_wrapper{
       padding: 0 4rem;
   }
   
}

@media screen and (min-width: 1024px){
    .Container_Localisation_Reservation_Resto{
        display: flex;
        flex-direction: column;
       
    }
    
    .menu_wrapper{
        padding: 0 8rem;
        top: 18rem;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        
        
    }
    
}
